body{
	margin: 0px;
	font-family: sans-serif;
}

.welcome{
	height: 100%;
	padding: 1px;
	background-color: rgba(32,78,147,255);
}

.welcome h2{
	margin-left: 20px;
	font-family: 'comic sans ms';
	color: white;
	text-align: start;
}

.header{
	height: 150px;
	text-align: center;
    vertical-align: middle;
	position: relative;
	-webkit-text-stroke: 2px black;
	background-image: url("../assets/header.jpg");
}

.header h1{
	margin: 0;
	color: white;
	font-family: 'comic sans ms';
	font-size: 60px;
	font-weight: bold;
}

.menu {
	border-bottom: 5px solid black;
	margin-left: 400px;
	display: flex;
   	align-items:center;
}

.menu img{
	margin-left: 20px;
}

.menu span{
	margin-left: 10px;
	font-family: 'comic sans ms';
	font-size: 30px;
  	align-items:center;
	line-height: 0px;
}

.dasboard{
	position: absolute;
	left: 0px;
	width: 400px;
	height: 1000px;
	border: 5px solid black;
	background-color: rgba(32,78,147,255);
	display: inline;
}

.dasboard img{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	fill:rgb(255, 255, 255);
}

.dasboard a{
	font-family: 'comic sans ms';
	color: rgb(255, 255, 255);
	font-size:x-large;
	display: flex;
  	align-items:center;
	line-height: 50px;
	text-decoration: none;
	margin-top: 10px;
}

h2{
	text-align: center;
}

*{
	box-sizing: border-box;
}

.card{
	width: 500px;
	height: 100px;
}

.table{
	margin-top: 20px;
	width: 80%;
	border-collapse: collapse;
	float: right;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: rgba(32,78,147,255);
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

.item-list {
	justify-content: space-between;
	width: AUTO;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-left: 430px;
	margin-top: 50px;
}

.animal-list{
	width: 300px;
	height: 180px;
	border-radius: 5%;
	object-fit: cover;
	background-color: rgb(0, 213, 255);
}

.prestasi-list{
	width: 300px;
	height: 180px;
	border-radius: 5%;
	object-fit: cover;
	background-color: rgb(255, 203, 60);
}

.ketuntungan-list{
	width: 300px;
	height: 180px;
	border-radius: 5%;
	object-fit: cover;
	background-color: rgb(13, 255, 0);
}

.calendar-list{
	margin-top: 50px;
	width: 300px;
	height: 180px;
	border-radius: 5%;
	object-fit: cover;
	background-color: rgb(255, 67, 255);
}

.medicine-list{
	margin-top: 50px;
	width: 300px;
	height: 180px;
	border-radius: 5%;
	margin-right: 60px;
	background-color: rgb(255, 67, 67);
}

.item-card img {
	width: 330px;
	height: 250px;
	border-radius: 10%;
	object-fit: cover;
	margin-left: 80px;
}
	
.item-card p{
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 25px;
	text-align: center;
	color: #F54D42;
}
